@font-face {
    font-family: "MontserratRegular";
    src: url("fonts/Montserrat-Regular.woff2") format("woff2"),
         url("fonts/Montserrat-Regular.woff") format("woff"),
         url("fonts/Montserrat-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}


  @font-face {
      font-family: "MontserratBold";
      src: url("fonts/Montserrat-Bold.woff2") format("woff2"),
           url("fonts/Montserrat-Bold.woff") format("woff"),
           url("fonts/Montserrat-Bold.otf") format("otf");
      font-weight: 700;
      font-style: normal;
}


@font-face {
    font-family: "MontserratRegular";
    src: url("fonts/Montserrat-Regular.woff2") format("woff2"),
         url("fonts/Montserrat-Regular.woff") format("woff"),
         url("fonts/Montserrat-Regular.otf") format("otf");
    font-weight: 500;
    font-style: normal;
}
